:root {
    --color-red: #f9233a;
    --color-light-blue: #6bb1dd;
    --color-white: #fffbe9;
    --color-tan: #ffcdb9;
    --color-dark-blue: #7783a2;
    --color-black: #1a1a1a;
    --font-bold-condensed: "nitti-grotesk-condensed";
    --font-typewriter: "ff-nexus-typewriter";
    --font-variable: "source-code-variable", sans-serif;
}

html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
}

#container {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr 1fr;
    place-items: center;
    height: 100vh;
    width: 60vw;
    text-align: center;
}

#reset-btn {
    display: none;
}

button {
    border: none;
    color: var(--color-white);
    background: none;
    padding: 10px 20px;
    font-family: var(--font-bold-condensed);
    font-size: 1.25rem;
}

button:hover {
    cursor: pointer;
    border-bottom: 4px solid var(--color-light-blue);
}

div {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:var(--color-black);
}

#result {
    color: white;
    visibility: hidden;
}

#score {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.win-alert {
    color: var(--color-white);
    font-size: 0.8rem;
    font-family: var(--font-variable);
}

#score-focus {
    font-size: 2rem;
    padding: 10px;
    margin: 0 10px;
    -webkit-text-stroke: 1px var(--color-white);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   width: 75%;
   font-family: var(--font-bold-condensed);
}

#score-focus span {
    font-weight: bold;
    font-size: 4rem;
    -webkit-text-stroke: 1px var(--color-white);
}

#score-focus span:first-of-type {
    color: var(--color-light-blue)
}
#score-focus span:nth-of-type(2) {
    color: var(--color-red)
}


.choice-container {
    background: var(--color-white);
    width: 300px;
    height: 100%;
    border-radius: 8px;
    position: relative;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#computer,
#choice {
    font-family: var(--font-typewriter);
    font-size: 4rem;
    -webkit-text-stroke: 1px var(--color-white);
}

#player {

    width: 50%;
}

@media screen and (min-width: 1000px) {
    body {
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

@media screen and (max-width: 500px) {
    #container {
        width: 100vw;
    }

    #player {
        width: 100%;
    }

    .choice-container {
        height: 80%;
        width: 80%;
    }
}